/* for some reason this next id restricts height of the document. So must update it directly*/
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Press Start 2P', cursive;
}
#__next {
  height: 100%;
}
.App {
  text-align: center;
}

.habitsContainer {
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 5%;
}

.canvas-container {
  height: max-content;
}

.habit {
  margin-top: 10%;
  font-weight: 800;
  color: hotpink;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox {
  cursor: pointer;
  height: 70%;
  width: 70%;
  position: absolute;
}

.tdCheckBox {
  position: relative;
}

.frequencyFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.frequencyBox {
  text-align: center;
  cursor: pointer;
}

.frequencyBoxHighlighted {
  text-align: center;
  background-color: rgb(29, 144, 211);
  cursor: pointer;
}

.contextMenuShow {
  position: absolute;
  z-index: 2;
  height: 50px;
  width: 200px;
}

.override-modal-footer {
  justify-content: space-between !important;
}

.labels {
  margin-right: 15px;
  font-size: 1.5em;
}

.spacing-container {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 1;
}

.spacing-container .spacing-button {
  margin: 0 10px;
}

.score {
  margin-left: 20px;
}

.title {
  position: absolute;
  z-index: 1;
  left: 40%;
  top: 2%;
  color: hotpink;
  font-family: 'Press Start 2P', cursive;
  font-size: 60px;
}

.habitsContainer .table {
  margin: 1rem 0;
  border-radius: 0.6em;
  overflow: hidden;
}
