/* for some reason this next id restricts height of the document. So must update it directly*/
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Press Start 2P', cursive;
}
#__next {
  height: 100%;
}
.App {
  text-align: center;
}

.habitsContainer {
  z-index: 1;
  position: absolute;
  top: 10%;
  left: 3%;
}

.canvas-container {
  height: max-content;
}

.habit {
  margin-top: 10%;
  font-weight: 800;
  color: hotpink;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox {
  cursor: pointer;
  height: 70%;
  width: 70%;
  position: absolute;
}

.verticalLineSpacing {
  margin: 5px 0 5px 0;
}

.tdCheckBox {
  position: relative;
}

.frequencyFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.frequencyBox {
  text-align: center;
  cursor: pointer;
}

.contextMenuShow {
  position: absolute;
  z-index: 2;
  height: 50px;
  width: 200px;
}

.override-modal-footer {
  justify-content: space-between !important;
}

.labels {
  margin-right: 15px;
  font-size: 1.5em;
}

.centerElement {
  left: 50%;
  transform: translate(-50%);
  position: relative;
}

.centerText {
  text-align: center;
  vertical-align: middle;
}

.spacing-container {
  position: absolute;
  top: 11.7%;
  right: 5%;
  z-index: 1;
}

.modalText {
  width: 100%;
  border-radius: 6px;
}

.spacing-container .spacing-button {
  margin: 0 10px;
}

.score {
  margin-left: 20px;
}

.title {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 2%;
}

.gameFont {
  color: hotpink;
  font-family: 'Press Start 2P', cursive;
  font-size: 60px;
}
.positionJoke {
  position: absolute;
  bottom: 3%;
  left: 5%;
  z-index: 1;
  font-size: 3vh;
  color: white;
}

.habitsContainer .table {
  margin: 1rem 0;
  border-radius: 0.6em;
  overflow: hidden;
}

.samSkin {
  background: repeating-linear-gradient(
    -45deg,
    #ee4b2b,
    #ee4b2b 10px,
    #ffff00 10px,
    #ffff00 20px
  );
}

@media only screen and (max-width: 1024px) {
  .title {
    font-size: 2em;
    left: 20%;
  }

  .habitsContainer .table {
  }
}

.weekContainer {
  display: flex;
  justify-content: center;
}

.tableWidth {
  min-width: 40vw;
}

tr > th {
  text-align: center;
  vertical-align: middle;
}

tr > td {
  text-align: center;
  vertical-align: middle;
}
